/**
 * Copyright (C) 2017-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

// all types of leds
@mixin led($bg, $shadow1, $shadow2) {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $bg;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 3px 1px, inset $shadow1 0 -1px 3px,
    $shadow2 0 1px 3px;
}

.led {
  &.green {
    @include led(#abff00, #304701, #89ff00);
  }

  &.red {
    @include led(#f00, #441313, rgba(255, 0, 0, 0.5));
  }

  &.yellow {
    @include led(#ff0, #808002, #ff0);
  }

  &.grey {
    @include led(#ddd, #444, #ddd);
  }

  &.black {
    @include led(#000000, #ddd, #ddd);
  }

  &.white {
    @include led(#ddd, #ddd, #000000);
  }
}
