<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div fxLayout="column" class="services-menu-view">
  <div class="wrapper-search-services" fxLayout="row" fxLayoutGap="10px" [formGroup]="searchForm">
    <mat-form-field fxFlex>
      <input class="search" matInput placeholder="Search" formControlName="search">
      <span matPrefix>
        <mat-icon color="primary">search</mat-icon>
      </span>
    </mat-form-field>

    <button
      mat-mini-fab
      class="btn-refresh-services"
      color="primary"
      fxFlex="40px"
      matTooltip="Refresh services"
      matTooltipPosition="below"
      (click)="refreshServices()"
      [disabled]="isFetchingServices$ | async"
    >
      <mat-spinner
        [diameter]="24"
        [strokeWidth]="2"
        color="primary"
        *ngIf="isFetchingServices$ | async; else default"
      ></mat-spinner>
      <ng-template #default>
        <mat-icon>refresh</mat-icon>
      </ng-template>
    </button>

  </div>
  <div fxFlex class="pnl-services-trees">
    <mat-accordion displayMode="flat" [multi]="true">
      <mat-expansion-panel fxLayout="column" class="exp-pnl-interfaces-tree" [hideToggle]="false" [expanded]="true">
        <mat-expansion-panel-header fxLayout="row" collapsedHeight="32px" expandedHeight="40px">
          <div fxLayout="row" fxLayoutAlign="center center" class="mat-body">
            <mat-icon class="margin-right-x1" color="primary" svgIcon="interface"></mat-icon>
            <span class="text-upper pnl-title light-bold">Interface Names</span>
          </div>
        </mat-expansion-panel-header>

        <app-interfaces-list
          [interfacesTree]="interfacesTree$ | async"
          [workspaceId]="workspaceId"
          [search]="search"
          (onInterfaceSelected)="closeSidenavOnSmallScreen()">
        </app-interfaces-list>

      </mat-expansion-panel>
      <mat-expansion-panel fxLayout="column" class="exp-pnl-services-tree" [hideToggle]="false" [expanded]="true">
        <mat-expansion-panel-header fxLayout="row" collapsedHeight="32px" expandedHeight="40px">
          <div fxLayout="row" fxLayoutAlign="center center" class="mat-body">
            <mat-icon class="margin-right-x1" color="primary" svgIcon="service"></mat-icon>
            <span class="text-upper pnl-title light-bold">Service Names</span>
          </div>
        </mat-expansion-panel-header>

        <app-services-list
          [servicesTree]="servicesTree$ | async"
          [workspaceId]="workspaceId"
          [search]="search"
          (onServiceSelected)="closeSidenavOnSmallScreen()">
        </app-services-list>

      </mat-expansion-panel>
      <mat-expansion-panel fxLayout="column" class="exp-pnl-endpoints-tree" [hideToggle]="false" [expanded]="true">
        <mat-expansion-panel-header fxLayout="row" collapsedHeight="32px" expandedHeight="40px">
          <div fxLayout="row" fxLayoutAlign="center center" class="mat-body">
            <mat-icon class="margin-right-x1" color="primary" svgIcon="endpoint"></mat-icon>
            <span class="text-upper pnl-title light-bold">Endpoint Names</span>
          </div>
        </mat-expansion-panel-header>

        <app-endpoints-list
          [endpointsTree]="endpointsTree$ | async"
          [workspaceId]="workspaceId"
          [search]="search"
          (onEndpointSelected)="closeSidenavOnSmallScreen()">
        </app-endpoints-list>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

</div>
