/**
 * Copyright (C) 2017-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

$petals-blue-primary: mat-palette($mat-blue, 500);
$petals-blue-primary-x: mat-palette($mat-blue, 50);
$petals-blue-primary-x1: mat-palette($mat-blue, 100);
$petals-blue-primary-x2: mat-palette($mat-blue, 200);
$petals-blue-primary-x3: mat-palette($mat-blue, 300);
$petals-blue-primary-x4: mat-palette($mat-blue, 400);
$petals-blue-primary-x5: mat-palette($mat-blue, 500);
$petals-blue-primary-x6: mat-palette($mat-blue, 600);
$petals-blue-primary-x7: mat-palette($mat-blue, 700);
$petals-blue-primary-x8: mat-palette($mat-blue, 800);
$petals-blue-primary-x9: mat-palette($mat-blue, 900);

$petals-blue-accent: mat-palette($mat-amber, 500);
$petals-blue-accent-x: mat-palette($mat-amber, 50);
$petals-blue-accent-x1: mat-palette($mat-amber, 100);
$petals-blue-accent-x2: mat-palette($mat-amber, 200);
$petals-blue-accent-x3: mat-palette($mat-amber, 300);
$petals-blue-accent-x4: mat-palette($mat-amber, 400);
$petals-blue-accent-x5: mat-palette($mat-amber, 500);
$petals-blue-accent-x6: mat-palette($mat-amber, 600);
$petals-blue-accent-x7: mat-palette($mat-amber, 700);
$petals-blue-accent-x8: mat-palette($mat-amber, 800);
$petals-blue-accent-x9: mat-palette($mat-amber, 900);

$petals-blue-warn: mat-palette($mat-red);

$petals-blue-theme: mat-light-theme(
  $petals-blue-primary,
  $petals-blue-accent,
  $petals-blue-warn
);
