/**
 * Copyright (C) 2018-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

@mixin custom-wrapper-theme($theme) {
  $primary: map-get($theme, primary);

  .wrapper-content {
    > .mat-tab-group
      > .mat-tab-header
      > .mat-tab-label-container
      > .mat-tab-list
      > .mat-tab-labels {
      .mat-tab-label {
        color: mat-color($primary, 600);
        opacity: 1 !important;
        &:hover {
          background-color: mat-color($primary, 700);
          color: mat-color($mat-grey, 50);
        }
      }

      .mat-tab-label.mat-tab-label-active {
        color: mat-color($primary, 700);
        opacity: 1 !important;
        &:hover {
          color: mat-color($mat-grey, 50);
        }
      }
    }
  }
}
