<!-- Copyright (C) 2018-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->


<mat-toolbar color="primary">
  <h3 class="matDialogTitle margin-left-x1 text-upper">Override shared libraries</h3>
</mat-toolbar>
<mat-dialog-content class="central-content">
  <mat-table #table *ngIf="sharedLibraries.data.length > 0; else noSl" [dataSource]="sharedLibraries">
    <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

    <ng-container matColumnDef="name">
      <mat-header-cell
        *matHeaderCellDef
        fxFlex="50%"
        fxLayoutAlign="start center"
      >Name</mat-header-cell>
      <mat-cell
        *matCellDef="let sl; let index = index"
        fxFlex="50%"
        fxLayoutAlign="start center"
      >
        <mat-form-field fxFlex="95%">
          <input
            matInput
            value="{{sl.name}}"
            (input)="updateSharedLibrary(index, $event.target.value, null)"
          >
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="version">
      <mat-header-cell
        *matHeaderCellDef
        fxFlex="35%"
        fxLayoutAlign="start center"
      >Version</mat-header-cell>
      <mat-cell
        *matCellDef="let sl; let index = index"
        fxFlex="35%"
        fxLayoutAlign="start center"
      >
        <mat-form-field fxFlex="95%">
          <input
            matInput
            value="{{sl.version}}"
            (input)="updateSharedLibrary(index, null, $event.target.value)"
          >
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell *matCellDef="let index = index">
        <button class="btn-delete" mat-icon-button (click)="deleteSharedLibrary(index)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  </mat-table>
  <ng-template #noSl>
    <div class="padding-top-x1 padding-right-x1 padding-left-x1">
      <app-message
        type="info"
        [isClosable]="false"
        class="info-no-sls mat-body-1 info-override-sl"
        msg="There is no shared library."
      ></app-message>
    </div>
  </ng-template>
</mat-dialog-content>

<div class="button-bar padding-x1"
  fxLayout.xs="column"
  fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayoutGap="8px">
  <button
    fxFlexAlign="start"
    mat-raised-button
    class="text-upper btn-add"
    (click)="addRow()">
    <mat-icon color="primary">add</mat-icon>
    <span>Add</span>
  </button>
  <div
    fxFlexAlign.xs="stretch"
    fxLayout="row"
    fxLayoutAlign.xs="space-between center"
    fxLayoutAlign="end center"
    fxLayoutGap="10px">
    <button
      mat-raised-button
      class="text-upper btn-cancel"
      (click)="onCancel()">
      <mat-icon color="primary">cancel</mat-icon>
      <span>Cancel</span>
    </button>
    <button
      mat-raised-button
      class="text-upper btn-save"
      color="accent"
      [disabled]="!inputsValids"
      (click)="onSave()">
      <mat-icon>done</mat-icon>
      <span>Save</span>
    </button>
  </div>
</div>
