/**
 * Copyright (C) 2017-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

:host {
  width: calc(100% - 64px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-header {
  left: 32px;
  width: 100%;
}

mat-sidenav-container {
  left: 32px;
  margin-top: 64px;
  width: 100%;
  background-image: url(../../../../../assets/img/gray_jean.png);

  // all menu views have the same size (petals, service)
  > mat-sidenav {
    height: 100%;
  }
}
