<!-- Copyright (C) 2017-2019 Linagora

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. -->

<div *ngIf="workspace$ | async as workspace" fxLayout="column" fxFlexFill class="wrapper-content mat-typography">
  <div fxFlex class="content">
    <div fxLayout="column" fxLayoutGap="10px">

      <mat-card>
        <mat-card-title class="light-bold">Short Description</mat-card-title>
        
        <mat-card-content *ngIf="!isEditingDescriptions; else shortDescriptionEdit" fxLayout="column" class="workspace-short-description">
          <div *ngIf="workspace.shortDescription; else noShortDescription" fxFill class="short-description">
            <span fxFlex class="short-description-text">{{ workspace.shortDescription }}</span>
          </div>   
          <ng-template #noShortDescription>
            <app-message
              type="info"
              msg="This workspace doesn't have any short description."
              [isClosable]="false"
              class="info-no-short-description"
            ></app-message>
          </ng-template>
        </mat-card-content>

        <ng-template #shortDescriptionEdit>
          <mat-card-content fxLayout="column">
            <div fxFill class="workspace-short-description-edit">
              <mat-form-field appearance="outline" fxFill class="short-description-form-field">
                <textarea 
                  #txtShortDescription
                  matInput 
                  matTextareaAutosize
                  maxLength="200"
                  placeholder="Add short description to the current workspace"
                  [appFocusInputIfLargeScreen]="isFocusShortDescriptionTextarea"
                  [disabled]="isSettingDescriptions" 
                  [(ngModel)]="shortDescription"
                  class="short-description-wks"
                ></textarea>
                <mat-hint *ngIf="txtShortDescription.value?.length !== 200; else isMaxLength">{{ txtShortDescription.value?.length || 0 }}/200</mat-hint>
                <ng-template #isMaxLength>
                  <mat-error>Max 200 characters!</mat-error>
                </ng-template>
              </mat-form-field>
            </div>
          </mat-card-content>
        </ng-template>

        <mat-card-title class="light-bold margin-top-x1">Description</mat-card-title>

        <mat-card-content *ngIf="!isEditingDescriptions; else descriptionEdit" fxLayout="column" class="workspace-description">
          <div *ngIf="workspace.description; else noDescription" fxFill class="description">
            <span fxFlex [innerHTML]="workspace.description | MarkdownToHtml" class="description-text"></span>
          </div>
          <ng-template #noDescription>
            <app-message
              type="info"
              msg="This workspace doesn't have any description."
              [isClosable]="false"
              class="info-no-description margin-bottom-x2"
            ></app-message>
          </ng-template>
        </mat-card-content>

        <ng-template #descriptionEdit>
          <mat-card-content fxLayout="column">
            <div fxFill class="workspace-description-edit">
              <mat-form-field appearance="outline" fxFill class="description-form-field">
                <textarea 
                  matInput 
                  matTextareaAutosize
                  placeholder="Add description to the current workspace"
                  [disabled]="isSettingDescriptions" 
                  [(ngModel)]="description"
                  class="description-wks" 
                ></textarea>
                <mat-hint>Supports Standard Markdown Syntax</mat-hint>
              </mat-form-field>
              
              <div fxFill>
                <span 
                  *ngIf="description; else nothingToPreview"
                  fxFlex 
                  [innerHTML]="description | MarkdownToHtml" 
                  class="workspace-description-preview padding-x1">
                </span>
                <ng-template #nothingToPreview>
                  <div fxFill fxFlex class="msg-no-description padding-x1">Nothing to preview</div>
                </ng-template>
              </div>
            </div>
          </mat-card-content>
        </ng-template>

        <mat-card-actions 
          *ngIf="!isEditingDescriptions; else descriptionsBtnEdit"
          fxFill
          fxLayoutAlign="end center"
        >
          <button 
            mat-raised-button 
            type="button"
            color="primary" 
            (click)="editDescriptions()" 
            class="btn-add-edit-descriptions text-upper margin-right-x1"
          > 
            <span
              *ngIf="(workspace.description.length || workspace.shortDescription.length); else addDescriptions" 
              fxLayout="row" 
              fxLayoutAlign="start center"
            >
              <mat-icon class="margin-right-x1">edit</mat-icon>
              <span class="edit-text-btn">Edit</span>
            </span>
            <ng-template #addDescriptions>
              <span fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="margin-right-x1">add</mat-icon>
                <span class="add-text-btn">Add</span>
              </span>
            </ng-template>
          </button>
          <button 
            mat-raised-button
            type="button"
            color="warn" 
            (click)="openDeletionDialog()" 
            [disabled]="workspace.isRemoving || isRemoving"
            class="btn-delete-wks" 
          >
            <span fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="margin-right-x1">delete</mat-icon>
              <span class="text-upper">Delete this workspace</span>
            </span>
          </button>
        </mat-card-actions>

        <ng-template #descriptionsBtnEdit>
          <mat-card-actions *ngIf="isEditingDescriptions" fxFill fxLayoutAlign="end center">
            <button
              mat-button
              type="button"
              color="primary"
              [disabled]="isSettingDescriptions"
              (click)="cancelDescriptions()"
              class="btn-cancel-descriptions text-upper margin-right-x1"
            >
              Cancel
            </button>
            <button 
              mat-raised-button
              type="button"
              color="primary" 
              (click)="saveDescriptions()" 
              [disabled]="isSettingDescriptions || (description === workspace.description && shortDescription === workspace.shortDescription)" 
              class="btn-save-descriptions text-upper"
            >
              <span fxLayout="row" fxLayoutAlign="start center">
                <fa-icon class="margin-right-x1 icon-x2" icon="check"></fa-icon>
                <span class="text-upper">Save</span>
              </span>
            </button>
          </mat-card-actions>
        </ng-template>
        
      </mat-card>

      <mat-card *ngIf="buses$ | async as buses" class="bus-list">
        <mat-card-title class="light-bold">Bus list</mat-card-title>
        <mat-card-content fxLayout="column">
          <div 
            *ngIf="buses.list.length; else noBuses"
            fxLayout="row wrap" 
            fxLayout.lt-sm="column"
            fxLayoutGap="24px" 
            fxLayoutAlign="flex-start"
            class="bus-grid-item"
          >
            <div 
              *ngFor="let bus of buses.list"
              fxFlex="0 1 calc(12.5% - 24px)"
              fxFlex.lt-md="0 1 calc(50% - 24px)"
              class="bus-item"
            >
              <a
                *ngIf="!isEditingBusList && !bus.isBusSelectedForDetachment" 
                [routerLink]="['/workspaces', workspace.id, 'petals', 'buses', bus.id]"
                gdAreas="content | footer"
                gdRows="60px 36px"
                matTooltip="Go to this bus"
                matTooltipPosition="below"
                class="bus-link"
              >
                <div gdArea="content" fxLayout="row" fxLayoutAlign="center center" class="bus-svg-content">
                  <mat-icon color="primary" svgIcon="bus" class="padding-x2"></mat-icon>
                </div>
                <div gdArea="footer" fxLayout="row" fxLayoutAlign="start center" class="bus-footer">
                  <span class="bus-name">{{ bus.name }}</span>
                </div>
              </a>
              
              <ng-template #detachInProgress [ngIf]="isBusDetaching() && bus.isBusSelectedForDetachment">
                <div fxLayout="row" fxLayoutAlign="center center" class="margin-top-x2">
                  <mat-spinner
                    [diameter]="32"
                    [strokeWidth]="2"
                    color="primary"
                    class="detach-spinner"
                  ></mat-spinner>
                </div>
              </ng-template>

              <ng-template #detachBusEdit [ngIf]="isEditingBusList">
                <a
                  gdAreas="content | footer"
                  gdAreas.lt-md="content | footer"
                  gdRows="60px 36px"
                  [matTooltip]="bus.isBusSelectedForDetachment ? 'Unselect this bus' : 'Select this bus'"
                  matTooltipPosition="below"
                  (click)="toggleSelectDetachBus(bus.id)"
                  class="bus-detach"
                >
                  <div 
                    gdArea="content" 
                    fxLayout="row" 
                    fxLayoutAlign="center center" 
                    [ngClass]="{'active': bus.isBusSelectedForDetachment}" 
                    class="bus-svg-content"
                    >
                    <mat-icon color="primary" svgIcon="bus" class="padding-x2"></mat-icon>
                    <fa-icon class="margin-right-x1 icon-x4" icon="unlink"></fa-icon>
                  </div>
                  <div gdArea="footer" fxLayout="row" fxLayoutAlign="start center" class="bus-footer">
                    <span class="bus-name">{{ bus.name }}</span>
                  </div>
                </a>
              </ng-template>
            </div>
          </div>

          <ng-template #noBuses>
            <app-message
              type="info"
              msg="There are no buses attached to this workspace."
              [isClosable]="false"
              class="info-no-buses"
            ></app-message>
          </ng-template>
        </mat-card-content>


        <mat-card-actions fxFill fxLayoutAlign="end center">
          <button
            *ngIf="!isEditingBusList && buses.list.length && !isBusDetaching(); else detachBusBtnEdit"
            mat-raised-button
            type="button"
            color="accent"
            class="btn-detach-bus margin-right-x1 text-upper"
            (click)="editDetachBus()"
          >
            <span fxLayout="row" fxLayoutAlign="start center">
              <fa-icon class="margin-right-x1 icon-x2" icon="unlink"></fa-icon>
              <span class="detach-bus-text-btn">Detach Bus</span>
            </span>
          </button>
          <ng-template #detachBusBtnEdit>
            <button
              *ngIf="isEditingBusList" 
              mat-button
              type="button"
              color="primary"
              class="btn-cancel-detach-bus text-upper margin-right-x1"
              (click)="cancelDetachBus()"
              >
                Cancel
            </button>
            <button 
              *ngIf="isEditingBusList" 
              mat-raised-button
              type="button"
              color="primary"
              class="btn-open-detach-bus-dialog text-upper"
              (click)="openDetachBusDialog()"
              [disabled]="disabledDetachBtn || !isBusSelectedForDetachment()"
              >
              <span fxLayout="row" fxLayoutAlign="start center">
                <fa-icon class="margin-right-x1 icon-x2" icon="check"></fa-icon>
                <span class="text-upper detach-bus-text-btn">Detach</span>
              </span>
            </button>
          </ng-template>
        </mat-card-actions>

      </mat-card>

      <mat-card class="users-list">
        <mat-card-title class="light-bold">Users</mat-card-title>

        <mat-card-content>
          <div *ngIf="users$ | async as users" fxLayout="column" class="workspace-users">

            <app-message
              *ngIf="users.length === 1; else workspaceShared"
              type="info"
              msg="You are the only one using this workspace."
              [isClosable]="false"
              class="info-user-workspace"
            ></app-message>

            <ng-template #workspaceShared>
              <app-message
                type="info"
                msg="{{users.length}} people are using this workspace."
                [isClosable]="false"
                class="info-user-workspace-shared"
              ></app-message>
            </ng-template>

            <form [formGroup]="addUserFormGroup" (ngSubmit)="addUser()" class="margin-top-x1">
              <mat-form-field class="margin-right-x1">
                <input
                  matInput
                  placeholder="User to add"
                  [matAutocomplete]="autocompleteUsers"
                  formControlName="userSearchCtrl"
                  [errorStateMatcher]="matcher"
                  required>
                <mat-error>Select a user on the list</mat-error>
              </mat-form-field>

              <mat-autocomplete #autocompleteUsers>
                <mat-option *ngFor="let filteredUser of filteredUsers$ | async" [value]="filteredUser">
                  {{ filteredUser }}
                </mat-option>
              </mat-autocomplete>

              <button 
                mat-raised-button 
                type="submit" 
                color="accent" 
                [disabled]="addUserFormGroup.invalid || workspace.isAddingUserToWorkspace"
                class="text-upper" >Add</button>
            </form>

            <mat-list *ngIf="currentUserId$ | async as currentUserId">
              <mat-list-item *ngFor="let user of users; trackBy:trackByUser">
                <app-generate-icon mat-list-avatar [size]="35" [text]="user.id"></app-generate-icon>

                <h2 matLine class="user-id">{{ user.id }}</h2>

                <p matLine>
                  <span class="user-name">{{ user.name }}</span>
                </p>

                <button 
                  *ngIf="currentUserId !== user.id"
                  mat-icon-button
                  (click)="removeUser(user.id)"
                  [disabled]="user.isDeletingFromWorkspace"
                  class="delete">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </mat-list>
            
          </div>
        </mat-card-content>

      </mat-card>
        
    </div>
  </div>
</div>
