/**
 * Copyright (C) 2017-2019 Linagora
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

h3 {
  font-size: 14px;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 250px;
  height: 170px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-description {
  width: 200px;
  background-color: #e6e6e6;
  border-color: #ddffff;
  border-radius: 16px;
  border-left: 3px solid #512da8;
}

.swiper-border {
  margin-top: 15px;
  border-bottom: 1px solid #ffffff;
}

.swiper-img-container-reachable {
  width: 250px;
  height: 60px;
  background-image: url(../../../../../../../assets/img/icon-server.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper-img-container-not-reachable {
  @extend .swiper-img-container-reachable;
  background-image: url(../../../../../../../assets/img/icon-server-not-reachable.png);
}

.swiper-img-registry {
  width: 250px;
  height: 72px;
  background-image: url(../../../../../../../assets/img/icon-registry.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.swiper-pagination-fraction {
  bottom: -4px;
}

.mat-card-title {
  font-size: 16px;
}
